{% include 'general_api/base/base.html' %}

{% load static %}
{% block content %}

<h1><strong>{{ team.name }}</strong></h1>
<p><img src="{{ team.team_photo.url }}" width="240" height="180"></p>
<p><img src="{{ team.team_logo.url }}" width="240" height="180"></p>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Photo</th>
        <th>Goals</th>
        <th>Assists</th>
        <th>Yellow cards</th>
        <th>Red cards</th>
    </tr>


    {% for player in players %}

          <tr>
            <td><a href="{% url 'general_api:player_detail' pk=player.id %}">{{ player }}</a></td>
            <td><a href="{% url 'general_api:player_detail' pk=player.id %}">
                <img src="{{ player.image.url }}" width="40" height="30"></a></td>
            <td>{{ player.goals }}</td>
            <td>{{ player.assists }}</td>
            <td>{{ player.yellow_cards }}</td>
            <td>{{ player.red_cards }}</td>
          </tr>


    {% endfor %}
</table>


{% endblock %}