{% include 'general_api/base/base.html' %}

{% load static %}
{% block content %}

<h1><strong>{{ team.name }}</strong></h1>

<p><img src="{{ team.team_logo.url }}" width="200" height="240"></p>
<h3>Состав</h3>
<table border="1">
    <tr align="center">
        <th>Имя</th>
        <th>Фото</th>
        <th>Голы</th>
        <th>Голевые пасы</th>
        <th>Желтые карточки</th>
        <th>Красные карточки</th>
    </tr>
    {% for player in players %}
        <tr align="center">
            <td><a href="{% url 'general_api:player_detail' pk=player.id %}">{{ player }}</a></td>
            <td><a href="{% url 'general_api:player_detail' pk=player.id %}">
                <img src="{{ player.image.url }}" width="30" height="40"></a></td>
            <td>{{ player.goals }}</td>
            <td>{{ player.assists }}</td>
            <td>{{ player.yellow_cards }}</td>
            <td>{{ player.red_cards }}</td>
        </tr>
    {% endfor %}
</table>
<h3> Лучшие бомбардиры</h3>
<table border="1">
    <tr align="center">
        <th>Имя</th>
        <th>Фото</th>
        <th>Голевые пасы</th>
    </tr>

    {% for player in forwards %}
        <tr align="center">
            <td><a href="{% url 'general_api:player_detail' pk=player.id %}">{{ player }}</a></td>
            <td><a href="{% url 'general_api:player_detail' pk=player.id %}">
                <img src="{{ player.image.url }}" width="30" height="40"></a></td>
            <td>{{ player.goals }}</td>
        </tr>
    {% endfor %}
</table>
<h3> Лучшие ассистенты</h3>
<table border="1">
    <tr align="center">
        <th>Имя</th>
        <th>Фото</th>
        <th>Голевые пасы</th>
    </tr>

    {% for player in assists %}
        <tr align="center">
            <td><a href="{% url 'general_api:player_detail' pk=player.id %}">{{ player }}</a></td>
            <td><a href="{% url 'general_api:player_detail' pk=player.id %}">
                <img src="{{ player.image.url }}" width="30" height="40"></a></td>
            <td>{{ player.assists }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}